{% extends 'base.html' %}

{% block title %}Available Games{% endblock %}

{% block content %}
    Hi {{ user.username }}!
    <p>Game List: </p>
    <p><a href="{% url 'my_games' %}"><input type="button" value="My Games"></a></p>
        <form>
        {% if game_list %}
        <table width="50%" border="3">
            <tr>
                <th>Game Title</th>
                <th>Player 1</th>
                <th>Player 2</th>
                <th>Game State</th>
                <th>Active Player</th>
            </tr>
            {% for game in game_list %}
                <tr>
                    <td>{{ game.game_title }}</td>
                    <td>{{ game.player_1 }}</td>
                    <td>{{ game.player_2 }}</td>
                    <td>{{ game.game_state }}</td>
                    <td>{{ game.active_player }}</td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>No games avalible yet</p>
        {% endif %}
        </form>
    <p><a href="{% url 'logout' %}">logout</a></p>
{% endblock %}