{% extends 'base.html' %}

{% block title %}My Games{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p> <a href="{% url 'create_new_game' %}">
        <button type="submit">Create new game</button>
        </a>
    </p>
    <p>Game List: </p>
        {% if game_list %}
        <table width="50%" border="3">
            <tr>
                <th>Game Title</th>
                <th>Player 1</th>
                <th>Player 2</th>
                <th>Game State</th>
                <th>Active Player</th>
            </tr>
            {% for game in game_list %}
                <tr>
                    <td>{{ game.game_title }}</td>
                    <td>{{ game.player_1 }}</td>
                    <td>{{ game.player_2 }}</td>
                    <td>{{ game.game_state }}</td>
                    <td>{{ game.active_player }}</td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>No games avalible yet</p>
        {% endif %}
    <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in or if you are new player please create an account</p>
  <a href="{% url 'login' %}"><input type="submit" value="Login"></a>
  <a href="{% url 'signup' %}"><input type="submit" value="Sign up"></a>

{% endif %}
{% endblock %}